REACTIVATE_WEBHOOK_URL=https://default5675d32119d14c9596842c28ac8f80.a4.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/622b616dc2a9428e9dfa90b97df7a5c2/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=L3Q43N_ADwO3dZ6OiQxFRvl14njkvUvajwawq-kvzos
ERROR_WEBHOOK_URL=https://default5675d32119d14c9596842c28ac8f80.a4.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/2441849b00aa40dfbfd4badcc9f748d3/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ypI1uwC9FCskpObxzJxKqzZD85tSs2lTYV5QfrDcdWs
OTP_SECRET=base32secret3232
LDAP_URL=ldap://vn-ldaps.hcg.homecredit.net
LDAP_USER_OU=OU=Users,OU=VN,DC=hcg,DC=homecredit,DC=net
LDAP_USER_GROUP_DN=CN=VN.SD.SD_AUTOMATION_HUB.USER,OU=Groups,OU=VN,DC=hcg,DC=homecredit,DC=net
JIRA_URL=https://sd.homecredit.vn/rest/api/2/
SSO_URL=https://sso.homecredit.vn/opensso/identity/json/authenticate
AI_CHAT_API_URL=http://sd-auto.homecredit.vn:1234/ask

HTTP_PROXY=http://proxy-server-nonprod.homecredit.vn:8080
HTTPS_PROXY=https://proxy-server-nonprod.homecredit.vn:8080
NO_PROXY=localhost,127.0.0.1